@import '../../assets/styles/mixins/main-text-font';

.root {
  margin-top: 29px;
  margin-left: 175px;
  font-size: 0;
}

.rootTypeFooter {
  margin-top: 0;
  margin-left: 0;
  margin-right: 132px;
}

.list {
  list-style: none;
  display: flex;
  gap: 22px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.listTypeFooter {
  font-size: 20px;
  line-height: 1;
  color: #fff;
  gap: 20px;
}

.link {
  @include main-text-font(16, 400, 1.22);
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  transition: color 0.3s ease-in-out;

  &:not(.linkTypeFooter):hover {
    color: #ff5e3a;
  }

  &::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -28.48px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff5e3a;
  }
}

.linkActive {
  color: #ff5e3a;

  &::before {
    width: 100%;
    transition: width 0.4s linear;
  }
}

.linkTypeFooter {
  color: #fff;

  &:hover {
    color: #ff5e3a;
  }
}
