@import '../../assets/styles/mixins/main-text-font';

.root {
  margin-top: 29px;
  margin-left: 175px;
}

.rootTypeFooter {
  margin-top: 0;
  margin-left: 0;
  margin-right: 132px;
}

.list {
  @include main-text-font(16, 400, 1.22);
  list-style: none;
  display: flex;
  gap: 22px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.listTypeFooter {
  font-size: 20px;
  line-height: 1;
  color: #fff;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.linkActive {
  color: #ff5e3a;
  border-bottom: 2px solid #ff5e3a;
  padding-bottom: 24.48px;
}

.linkTypeFooter {
  color: #fff;
}
