@import '../../assets/styles/mixins/section-flex-container';

.root {
  @include section-flex-container(0, 70, 0);
  flex-direction: column;
  margin-top: 94px;
  position: relative;
  z-index: 2;
  scroll-margin: 84px;
  position: relative;
}
