.root {
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  margin: 0.54px 0 0;
  cursor: pointer;
  display: flex;
}

.playIcon {
  width: 19px;
  height: 22px;

  path {
    transition: fill 0.3s linear;
  }

  &:hover {
    path {
      fill: #ff5e3a;
    }
  }
}

.pauseIcon {
  padding: 4px;

  rect {
    transition: fill 0.3s linear;
  }

  &:hover {
    rect {
      fill: #ff5e3a;
    }
  }
}
