.root {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ff5e3a;
  background-color: #fff;
  background-image: url('../../assets/icons/about-mus-olymp-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  align-self: end;
  margin: 0;
  padding: 0;
}

.rootTypeFooter {
  margin-top: 7.14px;
}
