.root {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.rootTypeVolume {
  top: 9px;
  left: 37px;
}

.progressBar {
  background-color: #d6d6d6;
  height: 8px;
}

.progressBarTypeVolume {
  background-color: #000;
}

.progressBarAnimationActive {
  transition: width 0.3s linear;
}

.progressBarButton {
  position: absolute;
  right: -6px;
  visibility: hidden;
  opacity: 0;
  background-color: #fcbe13;
  border-radius: 100%;
  border: none;
  height: 12px;
  width: 12px;
  margin: 0;
  padding: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.progressBarButtonActive {
  visibility: visible;
  opacity: 1;
}
