.root {
  list-style: none;
  display: flex;
  margin: 25px 0 0;
  padding: 0;
  gap: 22px;
  font-size: 0;

  @media screen and (max-width: 1133px) {
    margin-top: 22px;
  }
}

.listItem:last-child {
  display: none;

  @media screen and (max-width: 1133px) {
    display: block;
    margin-top: 3px;
    margin-left: 5px;
  }
}
