.root {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 944px) {
    margin-top: 120px;
  }
}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  &::after {
    content: '';
    width: 1440px;
    height: 1256px;
    background-image: url('../../assets/images/about-olymp-background.svg');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -204px;
    left: 0;
    z-index: 1;

    @media screen and (max-width: 1296px) {
      left: -80px;
    }

    @media screen and (max-width: 1129px) {
      width: 1024px;
      height: 893px;
      bottom: 27px;
      left: -190px;
    }

    @media screen and (max-width: 667px) {
      bottom: -93px;
      left: -190px;
    }

    @media screen and (max-width: 551px) {
      width: 628px;
      height: 547.66px;
      bottom: 299px;
      left: -30px;
    }
  }
}
