.root {
  width: 77.7px;
  height: 77.7px;
  margin-top: 6px;
  background-color: #ffbb4d;
  background-position: center;
  border-radius: 50%;
  padding: 5.66px;
  font-size: 0;
  display: inline-block;
}
