.root {
  width: 77.7px;
  height: 77.7px;
  margin-top: 6px;
  background-color: #ffbb4d;
  object-fit: cover;
  object-position: left;
  border-radius: 50%;
  padding: 5.66px;
  font-size: 0;
  display: inline-block;
}

.rootTypeBrandBunner {
  width: 377px;
  height: 383px;
  grid-row: 1/4;
  grid-column: 2/3;
  padding: 0;
  background: none;
  border-radius: 0%;
  margin-top: 0;
  object-fit: fill;
  object-position: 50% 50%;
  z-index: 2;
}
