.root {
  height: 22px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 8px;
}

.wrapper {
  height: 100%;
  display: flex;
  gap: 9.75px;
  transition: margin 0.3s linear;
}

.volumeline {
  width: 114px;
  height: 8px;
  background-color: #f2f2f2;
  transition: all 0.3s linear;
  margin-top: 9px;
}

.volumelineHovered {
  width: 110px;

  @media screen and (max-width: 810px) {
    width: 70.5px;
  }

  @media screen and (max-width: 612px) {
    width: 19.2px;
  }
}
