@import '../../assets/styles/mixins/main-text-font';

.root {
  border: 2px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 40px;
  height: 80px;
  overflow: hidden;
  transition: border-color 0.3s linear, height 0.3s linear;
  background-color: #fff;

  &:hover {
    border-color: #ff5e3a;

    .icon {
      path {
        fill: #ff5e3a;
      }
    }
  }
}

.rootIsOpened {
  height: 609px;
}

.button {
  @include main-text-font(30, 500, 1.067);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border: none;
  margin: 0;
  padding: 0 37.5px 0 68px;
  background-color: transparent;
  border-radius: 40px;
}

.icon {
  @include main-text-font(40, 500, 0.564);
  margin: 0;
  padding: 0;
  transition: transform 0.3s linear;

  path {
    transition: fill 0.3s linear;
  }
}

.iconRotated {
  transform: rotate(-45deg);
}

.list {
  list-style: none;
  margin: 16px 0 0;
  padding: 0 68px;
  display: flex;
  gap: 34px;
  transition: transform 0.5s ease-in-out;

  @media screen and (max-width: 1439px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.listItem {
  height: 441px;
  border-right: 2px solid #d6d6d6;
  box-sizing: border-box;
  min-width: 271px;

  &:nth-child(2) {
    min-width: 276px;
  }

  &:nth-child(3) {
    min-width: 273px;
  }

  &:last-child {
    border-right: none;
    min-width: 240px;
  }
}
