.root {
  list-style: none;
  margin: 22px 0 0;
  padding: 0;
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 3;
  width: 100%;

  @media screen and (max-width: 1189px) {
    max-width: 718px;
    flex-direction: column;
  }
}

.listItem {
  width: 750px;
  min-width: 530px;

  &:last-child {
    width: 530px;
  }

  @media screen and (max-width: 1439px) {
    min-width: 560px;
  }
}
