.root {
  width: 18px;
  height: 34px;
  background-color: transparent;
  background-image: url('../../assets/icons/adverts-slider-arrow.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin: 168px 0 0;
  padding: 0;
  display: inline-block;

  &:disabled {
    background-image: url('../../assets/icons/adverts-slider-arrow-inactive.svg');
    transform: rotate(180deg);
  }
}

.rootTypeLeft {
  transform: rotate(180deg);

  &:disabled {
    background-image: url('../../assets/icons/adverts-slider-arrow-inactive.svg');
    transform: rotate(0deg);
  }
}
