.root {
  width: 18px;
  height: 34px;
  background-color: transparent;
  border: none;
  margin: 166px 0 0;
  padding: 0;
  display: inline-block;

  svg {
    path {
      transition: stroke 0.1s ease-in-out;
    }
  }

  &:not(:disabled):hover {
    svg {
      path {
        stroke: #ff5e3a;
      }
    }
  }

  &:disabled {
    svg {
      path {
        stroke: #d6d6d6;
      }
    }
  }
}

.rootTypeLeft {
  transform: rotate(180deg);
}

.rootTypeJury {
  margin-top: 175px;
}
