.root {
  display: flex;
  visibility: visible;
  opacity: 1;
  gap: 57px;
  margin-top: 92px;
  transition: none;

  @media screen and (max-width: 1456px) and (hover: hover) {
    gap: 48.5px;
  }

  @media screen and (max-width: 1439px) and (hover: hover) {
    gap: 57px;
  }

  @media screen and (max-width: 1439px) {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 1296px) and (hover: hover) {
    gap: 48.5px;
  }

  @media screen and (max-width: 1189px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 1049px) {
    max-width: 710px;
  }
}

.rootHidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.rootTypeArchive {
  margin-top: 44.86px;

  @media screen and (max-width: 1439px) {
    gap: 162px;
  }

  @media screen and (max-width: 1296px) and (hover: hover) {
    gap: 153.5px;
  }
}

.rootTypePrepMaterials {
  gap: 34px;
  margin: 0 auto;
  max-width: 1002px;

  @media screen and (max-width: 1085px) {
    max-width: 948px;
    gap: 7px;
  }

  @media screen and (max-width: 1031px) {
    max-width: 668px;
  }
}

.rootTypeJury {
  width: 1138px;
  gap: 102px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 1294px) and (hover: hover) {
    gap: 93.5px;
  }
}

.wrapper {
  max-width: 1150px;
  overflow: hidden;

  @media screen and (max-width: 1439px) {
    max-width: 990px;
  }

  @media screen and (max-width: 1189px) {
    max-width: 890px;
  }

  @media screen and (max-width: 1049px) {
    max-width: 560px;
  }
}

.wrapperTypeArchive {
  height: 538px;

  @media screen and (max-width: 1439px) {
    max-width: 760px;
    margin-right: 20px;
  }
}

.wrapperTypePrepMaterials {
  max-width: 855px;
  padding-left: 20px;

  @media screen and (max-width: 1031px) {
    max-width: 578px;
  }
}

.wrapperTypeJury {
  max-width: 897px;
  margin-right: 1px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}
