.root {
  display: flex;
  visibility: visible;
  opacity: 1;
  gap: 57px;
  margin-top: 92px;
  transition: none;

  @media screen and (max-width: 1457px) {
    gap: 48.5px;
  }

  @media screen and (max-width: 1439px) {
    gap: 57px;
  }

  @media screen and (max-width: 1297px) {
    gap: 48.5px;
  }
}

.rootHidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.rootTypeArchive {
  margin-top: 44.86px;
}

.rootTypePrepMaterials {
  gap: 54px;
  margin: 27px auto 0;
  max-width: 1002px;
}

.wrapper {
  max-width: 1150px;
  overflow: hidden;

  @media screen and (max-width: 1439px) {
    max-width: 990px;
  }
}

.wrapperTypeArchive {
  height: 538px;
}

.wrapperTypePrepMaterials {
  max-width: 857px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}
