.root {
  display: flex;
  visibility: visible;
  opacity: 1;
  gap: 57px;
  margin-top: 92px;
  transition: none;

  @media screen and (max-width: 1456px) and (hover: hover) {
    gap: 48.5px;
  }

  @media screen and (max-width: 1439px) and (hover: hover) {
    gap: 57px;
  }

  @media screen and (max-width: 1439px) {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 1296px) and (hover: hover) {
    gap: 48.5px;
  }

  @media screen and (max-width: 1279px) and (hover: hover) {
    gap: 57px;
  }

  @media screen and (max-width: 1189px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 1049px) {
    max-width: 710px;
  }

  @media screen and (max-width: 759px) {
    gap: 0;
  }

  @media screen and (max-width: 667px) {
    max-width: 420px;
    margin-top: 50px;
  }

  @media screen and (max-width: 375px) {
    &:not(.rootTypeArchiveTabs) {
      flex-direction: column;
    }
  }
}

.rootHidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.rootTypeArchive {
  margin-top: 44.86px;

  @media screen and (max-width: 1439px) {
    gap: 14.21%;
  }

  @media screen and (max-width: 1296px) and (hover: hover) {
    gap: 13.464%;
  }

  @media screen and (max-width: 1279px) and (hover: hover) {
    gap: 14.21%;
  }

  @media screen and (max-width: 1189px) {
    max-width: 1108px;
    gap: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 1157px) {
    max-width: 718px;
  }

  @media screen and (max-width: 767px) {
    gap: 0;
    position: relative;
  }

  @media screen and (max-width: 667px) {
    margin-top: 0;
  }
}

.rootTypePrepMaterials {
  gap: 32px;
  margin: 0 auto;
  max-width: 1002px;
  position: relative;

  @media screen and (max-width: 1085px) {
    max-width: 948px;
    gap: 7px;
  }

  @media screen and (max-width: 1031px) {
    max-width: 668px;
  }

  @media screen and (max-width: 741px) {
    gap: 0;
    max-width: 654px;
  }

  @media screen and (max-width: 727px) {
    max-width: 438px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (max-width: 397px) {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}

.rootTypeJury {
  width: 1138px;
  gap: 102px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 1294px) and (hover: hover) {
    gap: 93.5px;
  }

  @media screen and (max-width: 1279px) and (hover: hover) {
    gap: 102px;
  }

  @media screen and (max-width: 1189px) {
    max-width: 1122px;
    width: 100%;
  }

  @media screen and (max-width: 1171px) {
    max-width: 822px;
  }

  @media screen and (max-width: 871px) {
    max-width: 782px;
  }

  @media screen and (max-width: 831px) {
    max-width: 718px;
    gap: 70px;
  }

  @media screen and (max-width: 767px) {
    gap: 0;
  }
}

.rootTypeArchiveTabs {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #000;
  border-radius: 40px 40px 0px 0px;
  box-sizing: border-box;
  padding-top: 18.17px;
  padding-left: 34px;
  padding-right: 36px;
  height: 65px;
}

.wrapper {
  max-width: 1150px;
  overflow: hidden;

  @media screen and (max-width: 1439px) {
    max-width: 990px;
  }

  @media screen and (max-width: 1189px) {
    max-width: 890px;
  }

  @media screen and (max-width: 1049px) {
    max-width: 560px;
  }

  @media screen and (max-width: 759px) {
    margin: 0 auto;
  }

  @media screen and (max-width: 667px) {
    max-width: 270px;
  }
}

.wrapperTypeArchive {
  height: 538px;

  @media screen and (max-width: 1439px) {
    max-width: 760px;
    margin-right: 20px;
  }

  @media screen and (max-width: 1189px) {
    margin-right: 12px;
  }

  @media screen and (max-width: 1157px) {
    max-width: 370px;
    margin-left: 12px;
    margin-right: 0;
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 667px) {
    max-width: 270px;
    z-index: 0;
  }
}

.wrapperTypePrepMaterials {
  max-width: 857px;
  padding-left: 22px;

  @media screen and (max-width: 1031px) {
    max-width: 578px;
    padding-left: 20px;
  }

  @media screen and (max-width: 727px) {
    max-width: 248px;
  }

  @media screen and (max-width: 590px) {
    max-width: 240px;
  }

  @media screen and (max-width: 397px) {
    padding-left: 0;
  }
}

.wrapperTypeJury {
  max-width: 897px;
  margin-right: 1px;

  @media screen and (max-width: 1171px) {
    max-width: 582px;
  }

  @media screen and (max-width: 871px) {
    max-width: 542px;
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 613px) {
    max-width: 418px;
  }

  @media screen and (max-width: 523px) {
    max-width: 272px;
  }
}

.wrapperTypeArchiveTabs {
  max-width: 71.41px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.buttons {
  @media screen and (max-width: 375px) {
    &:not(.buttonsTypePrepMaterials) {
      margin-top: 18px;
      margin-left: auto;
    }
  }
}

.buttonsTypePrepMaterials {
  @media screen and (max-width: 397px) {
    position: absolute;
    top: 3px;
    right: 22px;
  }
}

.buttonsTypeArchive {
  @media screen and (max-width: 375px) {
    position: absolute;
    top: 301px;
    right: 0;
    z-index: 1;
  }
}

.buttonsTypeArchiveTabs {
  @media screen and (max-width: 375px) {
    &:not(.buttonsTypePrepMaterials) {
      margin-top: 0;
      margin-left: initial;
    }
  }
}
