@import '../../assets/styles/mixins/main-text-font';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rootTypeJury {
  flex-direction: column-reverse;
}

.title {
  @include main-text-font(40, 500, 1, #ff5e3a);
  margin: 0;
  padding: 0;
}

.titleTypeResults {
  color: #fff;
}

.titleTypeJury {
  margin-bottom: 9.14px;
}
