@import '../../assets/styles/mixins/main-text-font';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.rootTypeJury {
  flex-direction: column-reverse;
}

.title {
  @include main-text-font(40, 500, 0.85, #ff5e3a);
  margin: 0;
  padding: 0;
}

.titleTypePrepMaterials {
  position: relative;
  bottom: 4px;
}

.titleTypeArchive {
  position: relative;
  bottom: 7px;
}

.titleTypeResults {
  color: #fff;
  position: relative;
  bottom: 19.14px;
}

.titleTypeJury {
  margin-bottom: 9.14px;
}
