@import '../../assets/styles/mixins/section-flex-container';

.root {
  height: 75px;
  border-bottom: 2px solid #d6d6d6;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
}

.container {
  @include section-flex-container(0, 70, 0, 70);
  display: flex;
  justify-content: space-between;
  height: 100%;
}
