@import '../../assets/styles/mixins/main-text-font';

.root {
  width: 1150px;
  height: 370px;
  margin-top: 92px;
  margin-left: 81px;
  background-color: #ffbb4d;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.imgContainer {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url('../../assets/images/full-advert-star-big.svg');
    position: absolute;
    top: 86px;
    left: 79px;
    z-index: 2;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url('../../assets/images/full-advert-star-little.svg');
    position: absolute;
    top: 70px;
    left: 136px;
    z-index: 2;
  }
}

.imgBackground {
  width: 187px;
  height: 191px;
  background-color: #ff5e3a;
  border-radius: 34px;
  transform: rotate(16deg);
  margin-left: 74px;
  margin-top: 90px;
  position: relative;
  overflow: hidden;
}

.img {
  width: 216.86px;
  height: 199.44px;
  background-image: url('../../assets/images/full-advert-keyboard.svg');
  background-size: cover;
  background-position: center bottom;
  transform: rotate(-16deg);
  margin-top: 44px;
  margin-left: -9px;
}

.textContainer {
  margin-top: 40px;
  margin-right: 12px;
}

.date {
  @include main-text-font(20, 500, 1.1, #fff);
  margin-left: 29px;
  display: inline-block;
}

.title {
  @include main-text-font(30, 500, 0.733, #fff);
  margin: 28px 0 18px 29px;
  padding: 0;
}

.text {
  @include main-text-font(16, 400, 1.375, #fff);
  max-width: 640px;
  margin: 0 0 0 29px;
  padding: 0;
  min-height: 132px;
}
