@import '../../assets/styles/mixins/main-text-font';

.root {
  width: 1150px;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 126px;
  left: 145px;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;

  @media screen and (max-width: 1439px) {
    width: 990px;
  }

  @media screen and (max-width: 1279px) {
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 1189px) {
    width: 850px;
  }

  @media screen and (max-width: 1049px) {
    width: 718px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.rootIsOpened {
  visibility: visible;
  opacity: 1;
  transition: none;
}

.loadingText {
  margin: auto;
  display: none;
  @include main-text-font(20, 500, 1.1);
}

.loadingTextVisible {
  display: inline-block;
}

.rootContainer {
  width: 100%;
  height: 100%;
  background-color: #ffbb4d;
  border-radius: 40px;
  display: none;
  justify-content: space-between;
  padding: 37px 37.18px 38px 40px;
  box-sizing: border-box;
}

.rootContainerVisible {
  display: flex;
}

.image {
  background-image: url('../../assets/images/full-advert-keyboard-star-image.svg');
  background-size: cover;
  background-position: center;
  width: 258px;
  height: 258px;
  align-self: center;
}

.textContainer {
  margin-top: 3px;
  margin-right: 51px;

  @media screen and (max-width: 1439px) {
    margin-right: 0;
    margin-left: 13px;
  }
}

.date {
  @include main-text-font(20, 500, 1.1, #fff);
  margin-left: 29px;
  display: inline-block;
}

.title {
  @include main-text-font(30, 500, 1.066, #fff);
  margin: 15px 0 8px 29px;
  padding: 0;
  min-height: 64px;
}

.text {
  @include main-text-font(16, 400, 1.375, #fff);
  max-width: 640px;
  margin: 0 0 0 29px;
  padding: 0;
  min-height: 88px;

  @media screen and (max-width: 1439px) {
    max-width: 541px;
  }
}

.shareContainer {
  display: flex;
  margin: 13px 0 0 11px;
  padding: 0;
}
