.root {
  background-color: transparent;
  border: none;
  width: 22.5px;
  height: 22.5px;
  margin: 37px 37.18px 0 0;
  padding: 0;
  align-self: flex-end;
  cursor: pointer;

  svg {
    path {
      transition: fill 0.3s ease-in-out;
    }
  }

  &:hover {
    svg {
      path {
        fill: #ff5e3a;
      }
    }
  }
}

.rootPlaceAdverts {
  align-self: flex-start;
  width: 31.82px;
  height: 31.82px;
}
