@import '../../assets/styles/mixins/section-flex-container';
@import '../../assets/styles/mixins/main-text-font';

.root {
  background-color: #ffbb4d;
}

.container {
  @include section-flex-container(70, 70, 70);
  @include main-text-font(20, 400, 0.975, #fff);

  @media screen and (max-width: 1279px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.navContainer {
  display: flex;
  gap: 32px;
}

.author {
  margin: 0;
  padding: 0;
  width: 263px;
  line-height: 1.1;
}

.contactsContainer {
  display: flex;
  margin-top: 60px;
  gap: 42px;
}

.contactsTitle {
  margin: 5px 0 0;
  padding: 0;
}

.contactList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 23px;
  line-height: 1.4;
  font-weight: 500;
}

.contactLink {
  color: #fff;
}
