@import '../../assets/styles/mixins/main-text-font';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 16px;
}

.title {
  @include main-text-font(20, 500, 1.1);
  margin: 0;
  padding: 0 0 5px;
  width: 240px;
  border-bottom: 2px solid #d6d6d6;
}
