@import '../../assets/styles/mixins/section-flex-container';

.root {
  @include section-flex-container(0, 70, 0, 70);
  flex-direction: column;
  margin-top: 101.14px;
  z-index: 3;
  scroll-margin: 84px;
}
