@import '../../assets/styles/mixins/section-flex-container';

.root {
  @include section-flex-container(0, 70, 0);
  flex-direction: column;
  margin-top: 98.14px;
  position: relative;
  z-index: 9;
  scroll-margin: 84px;
}
