@import '../../assets/styles/mixins/main-text-font';

.root {
  @include main-text-font(20, 400, 1.1);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listItem {
  display: flex;

  &:nth-child(3) {
    .icon {
      height: 25px;
    }
  }
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 13px;
  background-position: center;
  background-repeat: no-repeat;
}
