.root {
  background-color: #ffbb4d;
  width: 370px;
  height: 370px;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 40px 34px 48px 40px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1439px) {
    width: 485px;
  }

  @media screen and (max-width: 1189px) {
    width: 270px;
  }
}

.rootBgGrey {
  background-color: #f2f2f2;
  position: relative;
  padding: 40.14px 47px 40px;
  display: block;

  @media screen and (max-width: 1439px) {
    width: 370px;
  }
}
