@import '../../assets/styles/mixins/main-text-font';

.root {
  list-style: none;
  margin: 69px 0 44.86px;
  padding: 0;
  display: flex;
  gap: 2px;
}

.button {
  @include main-text-font(30, 500, 1.066, #d6d6d6);
  border: 2px solid #f2f2f2;
  border-radius: 40px 40px 0px 0px;
  box-sizing: border-box;
  margin: 0;
  padding: 16.19px 190.6px 12.85px 166px;
  background-color: #fff;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:not(.buttonActive):hover {
    border-color: #000;
    color: #000;
  }

  @media screen and (max-width: 1439px) {
    padding-right: 153.6px;
    padding-left: 151px;
  }
}

.buttonActive {
  background-color: #000;
  color: #fff;
}
