@import '../../assets/styles/mixins/main-text-font';

.root {
  @include main-text-font(16, 400, 1.375);
  width: 47px;
  height: 22px;
  margin-left: 11px;

  @media screen and (max-width: 810px) {
    width: 57px;
    height: 16px;
    font-size: 12px;
  }

  @media screen and (max-width: 612px) {
    font-size: 12px;
  }
}

.rootTypeRight {
  margin-left: 0;
  width: 46px;
}
